{% extends "OscDrinkOrderBundle::layout.html.twig" %}

{% block title %}商品選択 | {{ parent() }}{% endblock %}

{% block content %}
  <form action="{{ path('OscDrinkOrderBundle_product') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
  </form>
{% endblock %}
