<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}飲料注文アプリケーション{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
